<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <siteImages>
    <main>
      <add key="Logo" value="TakeUThereLogo.jpg"/>
      <add key="Splash" value="TakeUThereSplash.jpg"/>
    </main>
    <content>
      <add key="Splash" value="TakeUThereContentSplash.jpg"/>
    </content>
    <slider1>
      <add key="SlideImage1" value="SlideImage1.jpg"/>
    </slider1>
  </siteImages>
</configuration>